[submodule "lua"]
	path = lib/lua
	url = https://github.com/lua/lua.git
[submodule "lib/libgit2"]
	path = lib/libgit2
	url = https://github.com/libgit2/libgit2.git
	branch = main
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/libzip"]
	path = lib/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/rxi/microtar.git
